.card_wrapper {
    background-color: white;
    border-radius: 20px;
    border: 1px solid #eef2f5;
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
    position: relative;
    overflow: hidden;
}

.card_wrapper:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 35px rgba(58, 111, 109, 0.12);
    border-color: #62D2AD;
}

/* Header della Card */
.card_header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon_container {
    width: 50px;
    height: 50px;
    background-color: #f0f9f6;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.title_group {
    display: flex;
    flex-direction: column;
}

.patient_name {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    color: #163172;
    line-height: 1.2;
}

.id_badge {
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #62D2AD;
    letter-spacing: 0.5px;
}

/* Corpo della Card */
.card_body {
    background-color: #fcfdfd;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid #f4f8f7;
}

.info_row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.info_row:not(:last-child) {
    border-bottom: 1px solid #f0f4f3;
}

.label {
    font-size: 14px;
    color: #7a8d8c;
    font-weight: 600;
}

.value {
    font-size: 14px;
    color: #163172;
    font-weight: 700;
}

/* Azioni */
.card_actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 15px;
}

.main_action {
    flex-grow: 1;
    width: 60%;
}

.admin_tools {
    display: flex;
    gap: 8px;
    margin-left: 15px;
    text-align: center;
}

.btn_edit, .btn_delete {
    width: 110px;
    text-align: center;
    padding: 8px 14px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    gap: 6px;
    font-size: 13px;
    font-weight: 700;
    transition: all 0.2s;
}

.btn_edit { 
    background: #f0f4f8; 
    color: #163172;
}

.btn_delete { 
    background: #fff0f1; 
    color: #dc3545;
}

.btn_edit:hover { 
    background: #e2e9f0; 
    transform: translateY(-2px); 
}

.btn_delete:hover { 
    background: #ff8892; 
    transform: translateY(-2px); 
}
/* Mobile */
@media (max-width: 500px) {
    .btn_edit, .btn_delete{
        width: 50%;
    }
    .card_wrapper {
        padding: 20px;
    }
    
    .card_actions {
        flex-direction: column;
        gap: 15px;
    }
    
    .main_action {
        width: 100%;
    }
    
    .admin_tools {
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
}